<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My List</title>
</head>

<body>
    <ul>
        <details>
            <summary>
                <li>04_jak_and_daxter</li>
            </summary>
            <ul>
                <li>characters</li>
                <details>
                    <ul>
                        <li>bad-guys</li>
                        <li>good-guys</li>
                    </ul>
                </details>
            </ul>
        </details>
    </ul>

    <!-- 

    04_jak_and_daxter
        characters
            bad-guys
            good-guys 

    -->
</body>

</html>