:root {
    --mobile-nav-width: min(55vw, 250px);
    --lighter-orange: #fc851e;
    --darker-orange: #ff6600;
    --gray-font-color: #666666;
    --button-card-border-radius: 5px;
    --table-border-radius: 20px;
    --button-scale-size: scale(1.06);
}

/* FONTS TO IMPORT AND USE */

/* Trirong */

@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Ek Mukta */

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

/* FONT FAMILY FOR HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Trirong, 'Times New Roman', Times, serif;
}

/* FONT FAMILY FOR TEXT */

p,
li,
blockquote,
caption,
td,
th,
a,
cite {
    font-family: Mukta, Arial, Helvetica, sans-serif;
}

body {
    background-color: #aaa;
}

/* USED FOR MOBILE NAV MENU TO KEEP PAGE FROM SCROLLING */

@media screen and (max-width: 57.5em) {
    .overflow-body--hidden {
        overflow: hidden;
    }
}

/* USED FOR PROPER MOBILE VIEWPORT SCROLLING */

.page-wrapper {
    height: 100dvh;
}

/*  
======================================
            	HEADER               
======================================
*/

/* WRAPPER TO ALLOW HEADER TO STRETCH TO MAX WIDTH */

.header-wrapper {
    max-width: 100%;
    background-color: black;
}

/* STYLES FOR HEADER. THE max-width KEEPS THE CONTENT FROM EXPANDING */

.random-and-eris-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75em;
    position: sticky;
    top: 0;
    padding: 12px;
    margin: 0 auto;
    z-index: 10;

    & .random-and-eris-logo {
        width: min(47vw, 222px);
    }

    & a {
        margin: auto;
    }
}

@media screen and (min-width: 57.5em) {
    .random-and-eris-header {
        padding: 0 20px;
        flex-direction: row-reverse;

        & .random-and-eris-logo {
            padding: 13px 0;
        }

        & a {
            margin: 0;
        }
    }
}

/*  
======================================
           DESKTOP NAV MENUS         
======================================
*/

/* STYLES FOR DESKTOP NAV */

.desktop-nav-menu {
    display: none;
    margin-left: auto;
}

@media screen and (min-width: 57.5em) {
    .desktop-nav-menu {
        display: block;
    }
}

/* STYLES FOR DESKTOP ul and a ELEMENTS */

.desktop-nav-menu ul {
    display: flex;
    list-style-type: none;
    width: 647px;

    & li {
        height: 60px;
        flex-grow: 1;
    }

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        transition: color 0.3s ease-in, background-color 0.3s ease-in;
    }

    & a:hover {
        color: black;
        background-color: white;
    }
}

/*  
======================================
           MOBILE NAV MENUS         
======================================
*/

/* STYLES FOR MOBILE NAV OVERLAY */

.mobile-nav-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(71, 71, 71, 0.856);
    width: 100%;
    height: 100vh;
}

.mobile-nav-overlay--display-block {
    display: block;
}

.close-x-icon {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 2rem;
    cursor: pointer;
}

/* STYLES FOR MOBILE NAV */

.hamburger-menu {
    width: min(2.5rem, 9vw);
    cursor: pointer;
}

.hamburger-menu:hover {
    transform: var(--button-scale-size);
}

@media screen and (min-width: 57.5em) {
    .hamburger-menu {
        display: none;
    }
}

.mobile-nav-menu {
    position: absolute;
    top: 0;
    left: calc(-176px - var(--mobile-nav-width));
    width: var(--mobile-nav-width);
    height: 100vh;
    background-color: black;
    border: 2px solid white;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
}

.mobile-nav-menu--open {
    left: 0;
}

/* REMOVE MOBILE NAV MENU AND OVERLAY WHEN SCREEN GOES ABOVE 57.5em */

@media screen and (min-width: 57.5em) {
    .hamburger-menu,
    .mobile-nav-overlay,
    .mobile-nav-menu {
        display: none;
    }
}

/* STYLES FOR MOBILE NAV ul, li AND a TAGS */

.mobile-nav-menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 300px;

    & li {
        height: 100%;
        border-bottom: 2px solid white;
    }

    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.3s ease-in, background-color 0.3s ease-in;
    }

    & a:hover {
        color: black;
        background-color: white;
    }
}

/*  
======================================
             MAIN SECTIONS         
======================================
*/

/* USED TO KEEP MAIN CONTENT FROM GOING BEYOND 75EM */

main {
    max-width: 75em;
    margin: 0 auto;
}

/*  
======================================
     RANDOM AND ERIS HERO SECTION         
======================================
*/

.random-and-eris-hero {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 40px 10px;
    background-color: #666666;

    & img {
        border-radius: 50%;
    }
}

.random-and-eris-hero-text {
    display: grid;
    align-content: space-evenly;
    gap: 1.2rem;

    h1,
    p,
    a {
        text-align: center;
    }

    & h1 {
        font-size: min(9vw, 4.5rem);
    }

    & p {
        font-size: min(8vw, 3rem);
    }

    & a {
        justify-self: center;
        text-decoration: none;
        color: #ffffffdc;
        background-color: var(--lighter-orange);
        padding: max(2.4vw, 10px) max(2.8vw, 16px);
        font-size: min(5vw, 2rem);
        border: none;
        border-radius: var(--button-card-border-radius);
    }
}

@media screen and (min-width: 48em) {
    .random-and-eris-hero {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;

        & h1 {
            font-size: min(4vw, 3rem);
        }

        & p {
            font-size: min(3.5vw, 2.5rem);
        }

        & a {
            padding: min(2.4vw, 10px) min(2.8vw, 16px);
            font-size: min(3vw, 2rem);
        }

        & a:hover {
            transform: var(--button-scale-size);
        }
    }

    .random-and-eris-hero-text {
        gap: 1.5rem;
    }
}

/*  
======================================
     OUR FATEFUL ENCOUNTER SECTION         
======================================
*/

/* ======== OUR FATEFUL ENCOUNTER IMAGE ======== */

/* STYLES FOR OUR FATEFUL ENCOUNTER IMAGE */

.our-fateful-encounter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & picture {
        z-index: -10;
    }
}

/* STYLES FOR BACGRKOUND DIM */

.our-fateful-encounter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 71, 71, 0.6);
    z-index: -9;
}

/* STYLES FOR OUR FATEFUL ENCOUNTER IMAGE CARD */

.our-fateful-encounter-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    gap: 1.5rem;
    width: 94vw;
    aspect-ratio: 1 / 1;
    z-index: 9;

    & h2,
    p,
    a {
        color: white;
        text-align: center;
    }

    & h2 {
        font-size: min(10vw, 4rem);
        font-weight: 500;
        text-transform: uppercase;
    }

    & p {
        font-size: min(4.8vw, 2.2rem);
        line-height: 1.45;
        margin-bottom: 0.5rem;
        font-weight: 500;
    }
}

/* STYLES FOR TABLET OUR FATEFUL ENCOUNTER CARD TABLET */

@media screen and (min-width: 38em) {
    .our-fateful-encounter-card {
        justify-content: center;
        width: min(95vw, 52.5rem);
        height: 17.8rem;

        & h2 {
            font-size: min(8vw, 4rem);
            margin: -16px 0 6px;
        }

        p {
            font-size: min(4vw, 2.2rem);
            margin-bottom: 1.4rem;
        }
    }
}

/* STYLES FOR DESKTOP OUR FATEFUL ENCOUNTER CARD DESKTOP */

@media screen and (min-width: 64em) {
    .our-fateful-encounter-card {
        justify-content: center;
        width: min(69vw, 42.5rem);

        & h2 {
            font-size: min(6vw, 4rem);
            padding-top: 6px;
        }

        p {
            font-size: min(2.5vw, 1.55rem);
            margin-bottom: 1.6rem;
        }
    }
}

/* ======== OUR STORY EXAMPLE ======== */

/* Reverse row direction for second article on larger screens for alternating layout */

.our-story-example-section article:nth-of-type(2) {
    flex-direction: row-reverse;
}

.our-story-example-section article {
    display: flex;
    flex-wrap: wrap;
    background-color: #7b510e;
    padding: 60px 0;

    & > div {
        position: relative;
        width: min(600px, 80vw);
        padding: 1rem;
        margin: 0 auto;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #7b510e;
            z-index: 1;
        }

        & img:first-child {
            position: relative;
            z-index: 2;
            border-radius: 50%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            border-radius: 50%;
            box-shadow: inset 0 0 15px 35px #7b510e;
            z-index: 3;
        }
    }

    & div > img:not(:first-child) {
        position: absolute;
        z-index: 10;
        width: min(100px, 10vw);
        height: min(100px, 10vw);
        border-radius: 50%;
        top: 10px;
        left: 10px;
        box-shadow: 0 0 15px 1px black;
    }

    & p {
        flex: 1 1 50%;
    }
}

/*  
======================================
    OUR SHARED ADVENTURES SECTION     
======================================
*/

/* STYLES FOROUR SHARED ADVENTURES */

.our-shared-adventures {
    background-color: #747474;
    padding-bottom: 60px;
}

.our-shared-adventures h2 {
    text-align: center;
    font-size: min(7vw, 2.5rem);
    font-weight: 600;
    padding: 40px 0;
}

@media screen and (min-width: 48em) {
    .our-shared-adventures h2 {
        padding: 60px 0;
    }
}

.our-shared-adventures ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    list-style-type: none;
    padding: 0 24px;

    & li img,
    li h3 {
        margin: 0 auto;
    }

    & li img {
        width: min(60vw, 18rem);
        border-radius: 5px;
    }

    & li h3 {
        text-align: center;
        font-weight: 400;
        padding-top: 24px;
        font-size: min(6vw, 1.7rem);
        text-wrap: auto;
        width: 15rem;
        line-height: 1.4;
    }
}

/*  
======================================
       OUR FFXIV TALES SECTION         
======================================
*/

/* STYLES FOR OUR FFXIV TALES SECTION */

.our-ffxiv-tales {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background: linear-gradient(#7c0a0a, #111c6a);
    color: white;
    padding: 30px 0 50px;

    & h2 {
        font-size: min(7vw, 2.5rem);
    }

    & .image-container {
        display: flex;
        padding: 0.5rem;
        margin: 0 auto;
        gap: 0.5rem;
        overflow: auto;

        & img {
            width: 250px;
        }
    }

    & p {
        font-size: 1.5rem;
        text-align: center;
        max-width: 60ch;
        padding: 0 8px;
    }

    & a {
        text-decoration: none;
        text-transform: capitalize;
        color: var(--gray-font-color);
        background-color: white;
        padding: min(3vw, 12px) min(8vw, 32px);
        font-size: min(6.3vw, 1.3rem);
        border: none;
        border-radius: var(--button-card-border-radius);
    }
}

/*  
======================================
 OUR BINGE WATCHING ESCAPE SECTION         
======================================
*/

/* STYLES FOR OUR BINGE WATCHING ESCAPE IMAGE */

.our-binge-watching-escape {
    background-color: #747474;
}

/* STYLES FOR OUR BINGE WATCHING ESCAPE IMAGE CARD */

.our-binge-watching-escape-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 9px 24px 30px;

    & h2 {
        font-size: min(8vw, 2.5rem);
        font-weight: 600;
    }

    & h2,
    a {
        text-transform: uppercase;
    }

    & p {
        font-weight: 300;
        font-size: min(6vw, 2rem);
        text-wrap: wrap;
        margin-bottom: min(2.4vw, 1.8rem);
    }

    & a {
        align-self: flex-start;
        text-decoration: none;
        color: var(--gray-font-color);
        background-color: white;
        padding: min(2.2vw, 20px) min(4.9vw, 36px);
        font-size: min(4vw, 1.2rem);
        border: none;
        border-radius: var(--button-card-border-radius);
    }

    & a:hover {
        transform: var(--button-scale-size);
    }
}

/* STYLES FOR DESKTOP */

@media screen and (min-width: 48em) {
    /* STYLES FOR OUR BINGE WATCHING ESCAPE IMAGE */

    .our-binge-watching-escape {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & picture {
            z-index: -10;
        }
    }

    /* STYLES FOR OUR BINGE WATCHING ESCAPE CARD */

    .our-binge-watching-escape {
        z-index: 100;
    }

    .our-binge-watching-escape-card::before {
        border-radius: 0;
    }

    .our-binge-watching-escape-card {
        justify-content: center;
        align-items: flex-start;
        gap: 0.4rem;
        position: absolute;
        left: 7rem;
        width: 26rem;
        background-color: rgba(71, 71, 71, 0.9);

        & h2,
        p {
            color: white;
        }

        h2 {
            font-size: 2rem;
        }

        p {
            text-align: left;
            font-size: 1.5rem;
        }

        & a {
            padding: 10px 20px;
            font-size: min(2vw, 1.1rem);
            font-weight: 500;
        }
    }
}

/*  
======================================
                FOOTER     
======================================
*/

/* WRAPPER TO ALLOW FOOTER TO STRETCH TO MAX WIDTH */

.footer-wrapper {
    max-width: 100%;
    background-color: #ebebeb;
    border-top: solid 1px black;
}

/* STYLES FOR FOOTER. THE max-width KEEPS THE CONTENT FROM EXPANDING */

footer {
    max-width: 75em;
    padding-top: 67px;
    padding-bottom: 59px;
    margin: 0 auto;

    & a,
    p {
        color: var(--gray-font-color);
    }

    & a:visited,
    a:hover,
    a:active,
    a:focus {
        color: var(--gray-font-color);
    }
}

/* STYLES FOR FOOTER LINKS */

.footer-links {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2.9rem;

    & a {
        text-transform: capitalize;
    }
}

.footer-links ul {
    list-style-type: none;
    width: 18vw;
    text-wrap: nowrap;

    & li {
        margin-bottom: 0.9rem;
    }

    & li:hover {
        transform: var(--button-scale-size);
    }

    & a {
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 500;
    }
}

/* STYLES FOR FOOTER ATTRIBUTION LINKS */

footer .attribution-links {
    text-align: center;
    padding: 0 24px;

    & p,
    a {
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 0.025rem;
        margin-bottom: 0.5rem;
    }
}

@media screen and (min-width: 36em) {
    footer {
        padding-left: 95px;
    }

    footer .footer-links {
        grid-template-columns: repeat(4, 1fr);
        justify-items: flex-start;
    }

    footer .footer-links ul {
        width: auto;
    }

    footer .footer-links .footer-links ul:not(:last-child) {
        margin-right: 11.55rem;
    }

    footer .attribution-links {
        text-align: left;

        & p,
        a {
            margin-bottom: 0.1rem;
        }
    }
}

.next-btn {
    padding: 5px 50px;
    cursor: pointer;
}
